In [1]:
import numpy as np
import pandas as pd
import re

In [2]:
demo = pd.read_excel('Customer Call List.xlsx')
demo

,CustomerID,First_Name,Last_Name,Phone_Number,Address,Paying Customer,Do_Not_Contact,Not_Useful_Column
0,1001,Frodo,Baggins,123-545-5421,"123 Shire Lane, Shire",Yes,No,True
1,1002,Abed,Nadir,123/643/9775,93 West Main Street,No,Yes,False
2,1003,Walter,/White,7066950392,298 Drugs Driveway,N,NaN,True
3,1004,Dwight,Schrute,123-543-2345,"980 Paper Avenue, Pennsylvania, 18503",Yes,Y,True
4,1005,Jon,Snow,876|678|3469,123 Dragons Road,Y,No,True
5,1006,Ron,Swanson,304-762-2467,768 City Parkway,Yes,Yes,True
6,1007,Jeff,Winger,NaN,1209 South Street,No,No,False
7,1008,Sherlock,Holmes,876|678|3469,98 Clue Drive,N,No,False
8,1009,Gandalf,NaN,N/a,123 Middle Earth,Yes,NaN,False
9,1010,Peter,Parker,123-545-5421,"25th Main Street, New York",Yes,No,True
10,1011,Samwise,Gamgee,NaN,"612 Shire Lane, Shire",Yes,No,True
11,1012,Harry,...Potter,7066950392,2394 Hogwarts Avenue,Y,NaN,True
12,1013,Don,Draper,123-543-2345,2039 Main Street,Yes,N,False
13,1014,Leslie,Knope,876|678|3469,343 City Parkway,Yes,No,False
14,1015,Toby,Flenderson_,304-762-2467,214 HR Avenue,N,No,False
15,1016,Ron,Weasley,123-545-5421,2395 Hogwarts Avenue,No,N,False
16,1017,Michael,Scott,123/643/9775,"121 Paper Avenue, Pennsylvania",Yes,No,False
17,1018,Clark,Kent,7066950392,3498 Super Lane,Y,NaN,True
18,1019,Creed,Braton,N/a,N/a,N/a,Yes,True
19,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True
20,1020,Anakin,Skywalker,876|678|3469,"910 Tatooine Road, Tatooine",Yes,N,True

In [3]:
demo = demo.drop('Not_Useful_Column', axis=1)

demo = demo[['CustomerID', 'First_Name', 'Last_Name', 'Phone_Number', 'Paying Customer', 'Do_Not_Contact', 'Address']]

demo

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Address
0,1001,Frodo,Baggins,123-545-5421,Yes,No,"123 Shire Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93 West Main Street
2,1003,Walter,/White,7066950392,N,NaN,298 Drugs Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,"980 Paper Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Y,No,123 Dragons Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway
6,1007,Jeff,Winger,NaN,No,No,1209 South Street
7,1008,Sherlock,Holmes,876|678|3469,N,No,98 Clue Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123 Middle Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,"25th Main Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,"612 Shire Lane, Shire"
11,1012,Harry,...Potter,7066950392,Y,NaN,2394 Hogwarts Avenue
12,1013,Don,Draper,123-543-2345,Yes,N,2039 Main Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343 City Parkway
14,1015,Toby,Flenderson_,304-762-2467,N,No,214 HR Avenue
15,1016,Ron,Weasley,123-545-5421,No,N,2395 Hogwarts Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,"121 Paper Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Y,NaN,3498 Super Lane
18,1019,Creed,Braton,N/a,N/a,Yes,N/a
19,1020,Anakin,Skywalker,876|678|3469,Yes,N,"910 Tatooine Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,N,"910 Tatooine Road, Tatooine"

In [4]:
demo["Last_Name"] = demo["Last_Name"].str.strip("123._/")

demo

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Address
0,1001,Frodo,Baggins,123-545-5421,Yes,No,"123 Shire Lane, Shire"
1,1002,Abed,Nadir,123/643/9775,No,Yes,93 West Main Street
2,1003,Walter,White,7066950392,N,NaN,298 Drugs Driveway
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,"980 Paper Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876|678|3469,Y,No,123 Dragons Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway
6,1007,Jeff,Winger,NaN,No,No,1209 South Street
7,1008,Sherlock,Holmes,876|678|3469,N,No,98 Clue Drive
8,1009,Gandalf,NaN,N/a,Yes,NaN,123 Middle Earth
9,1010,Peter,Parker,123-545-5421,Yes,No,"25th Main Street, New York"
10,1011,Samwise,Gamgee,NaN,Yes,No,"612 Shire Lane, Shire"
11,1012,Harry,Potter,7066950392,Y,NaN,2394 Hogwarts Avenue
12,1013,Don,Draper,123-543-2345,Yes,N,2039 Main Street
13,1014,Leslie,Knope,876|678|3469,Yes,No,343 City Parkway
14,1015,Toby,Flenderson,304-762-2467,N,No,214 HR Avenue
15,1016,Ron,Weasley,123-545-5421,No,N,2395 Hogwarts Avenue
16,1017,Michael,Scott,123/643/9775,Yes,No,"121 Paper Avenue, Pennsylvania"
17,1018,Clark,Kent,7066950392,Y,NaN,3498 Super Lane
18,1019,Creed,Braton,N/a,N/a,Yes,N/a
19,1020,Anakin,Skywalker,876|678|3469,Yes,N,"910 Tatooine Road, Tatooine"
20,1020,Anakin,Skywalker,876|678|3469,Yes,N,"910 Tatooine Road, Tatooine"

In [5]:
# Strip everything but numbers
demo["Phone_Number"] = demo["Phone_Number"].astype(str)  # Convert all values to strings
demo["Phone_Number"] = demo["Phone_Number"].str.replace('[^a-zA-Z0-9]', '', regex=True)

# Clean up the phone numbers and renove non phone numbers
def clean_phone_number(number_input):
    formatted_number = re.sub(r'(\d{3})(\d{3})(\d{4})', r'\1-\2-\3', number_input) # Apply the pattern to what matches.

    return formatted_number if re.match(r'\d{3}-\d{3}-\d{4}', formatted_number) else np.nan

demo["Phone_Number"] = demo["Phone_Number"].apply(clean_phone_number)
demo = demo.dropna() # Removing records that have no phone numbers. 

demo

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Do_Not_Contact,Address
0,1001,Frodo,Baggins,123-545-5421,Yes,No,"123 Shire Lane, Shire"
1,1002,Abed,Nadir,123-643-9775,No,Yes,93 West Main Street
3,1004,Dwight,Schrute,123-543-2345,Yes,Y,"980 Paper Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876-678-3469,Y,No,123 Dragons Road
5,1006,Ron,Swanson,304-762-2467,Yes,Yes,768 City Parkway
7,1008,Sherlock,Holmes,876-678-3469,N,No,98 Clue Drive
9,1010,Peter,Parker,123-545-5421,Yes,No,"25th Main Street, New York"
12,1013,Don,Draper,123-543-2345,Yes,N,2039 Main Street
13,1014,Leslie,Knope,876-678-3469,Yes,No,343 City Parkway
14,1015,Toby,Flenderson,304-762-2467,N,No,214 HR Avenue
15,1016,Ron,Weasley,123-545-5421,No,N,2395 Hogwarts Avenue
16,1017,Michael,Scott,123-643-9775,Yes,No,"121 Paper Avenue, Pennsylvania"
19,1020,Anakin,Skywalker,876-678-3469,Yes,N,"910 Tatooine Road, Tatooine"
20,1020,Anakin,Skywalker,876-678-3469,Yes,N,"910 Tatooine Road, Tatooine"

In [6]:
# Correct Do Not Contact
demo["Do_Not_Contact"] = demo["Do_Not_Contact"]\
    .str.replace('^Y$', 'Yes', regex=True)\
    .str.replace('^N$', 'No', regex=True)

# Improving Semantics
demo = demo.rename(columns={'Do_Not_Contact': 'Contactable'})
demo["Contactable"] = demo["Contactable"].replace({'Yes': 'No', 'No': 'Yes'})

# Correct Paying Customer
demo["Paying Customer"] = demo["Paying Customer"].str.replace('^Y$', 'Yes', regex=True)
demo["Paying Customer"] = demo["Paying Customer"].str.replace('^N$', 'No', regex=True)


demo

C:\Users\AlexLaptop\AppData\Local\Temp\ipykernel_7268\2124310336.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  demo["Do_Not_Contact"] = demo["Do_Not_Contact"]\

,CustomerID,First_Name,Last_Name,Phone_Number,Paying Customer,Contactable,Address
0,1001,Frodo,Baggins,123-545-5421,Yes,Yes,"123 Shire Lane, Shire"
1,1002,Abed,Nadir,123-643-9775,No,No,93 West Main Street
3,1004,Dwight,Schrute,123-543-2345,Yes,No,"980 Paper Avenue, Pennsylvania, 18503"
4,1005,Jon,Snow,876-678-3469,Yes,Yes,123 Dragons Road
5,1006,Ron,Swanson,304-762-2467,Yes,No,768 City Parkway
7,1008,Sherlock,Holmes,876-678-3469,No,Yes,98 Clue Drive
9,1010,Peter,Parker,123-545-5421,Yes,Yes,"25th Main Street, New York"
12,1013,Don,Draper,123-543-2345,Yes,Yes,2039 Main Street
13,1014,Leslie,Knope,876-678-3469,Yes,Yes,343 City Parkway
14,1015,Toby,Flenderson,304-762-2467,No,Yes,214 HR Avenue
15,1016,Ron,Weasley,123-545-5421,No,Yes,2395 Hogwarts Avenue
16,1017,Michael,Scott,123-643-9775,Yes,Yes,"121 Paper Avenue, Pennsylvania"
19,1020,Anakin,Skywalker,876-678-3469,Yes,Yes,"910 Tatooine Road, Tatooine"
20,1020,Anakin,Skywalker,876-678-3469,Yes,Yes,"910 Tatooine Road, Tatooine"

In [7]:
demo = demo[(demo['Contactable'] == 'Yes') & (demo['Paying Customer'] == 'Yes')]
demo = demo.reset_index(drop=True)

# Final Presentation
left_aligned_df = demo.style.set_properties(**{'text-align': 'left'})
display(left_aligned_df)