In [2]:
import pandas as pd

## Joining

In [4]:
# Sample DataFrames
data1 = {'key_column': [1, 2, 3, 4],
         'value1': ['A', 'B', 'C', 'D']}
df1 = pd.DataFrame(data1)

data2 = {'key_column': [2, 3, 5, 4],
         'value2': ['X', 'Y', 'Z', 'W']}
df2 = pd.DataFrame(data2)

# Performing an inner join
result = pd.merge(df1, df2, on='key_column', how='inner')

result

   key_column value1 value2
0           2      B      X
1           3      C      Y
2           4      D      W