In [1]:
import pandas as pd
import numpy as np

'''
Resources
 - https://www.youtube.com/shorts/4MAvYHD7tz4
 - https://www.youtube.com/watch?v=JGefS6WPm1E
 - https://www.youtube.com/watch?v=bBbxumJakuA
'''

In [2]:
np.random.seed(0)

df = pd.DataFrame(np.random.randn(10,4),columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  1.764052  0.400157  0.978738  2.240893
1  1.867558 -0.977278  0.950088 -0.151357
2 -0.103219  0.410599  0.144044  1.454274
3  0.761038  0.121675  0.443863  0.333674
4  1.494079 -0.205158  0.313068 -0.854096
5 -2.552990  0.653619  0.864436 -0.742165
6  2.269755 -1.454366  0.045759 -0.187184
7  1.532779  1.469359  0.154947  0.378163
8 -0.887786 -1.980796 -0.347912  0.156349
9  1.230291  1.202380 -0.387327 -0.302303

In [3]:
null_df = pd.DataFrame(np.random.randn(10,4),columns=['A', 'B', 'C', 'D'])
null_df.iloc[0,2] = np.nan
null_df.iloc[4,3] = np.nan

null_df.style.highlight_null(color="red").format(na_rep='<span style="color:white">NaN</span>')

In [4]:
import seaborn as sns

heatmap_coloring = sns.light_palette("green", as_cmap=True)

df.style.background_gradient(cmap=heatmap_coloring)

In [14]:
def style_column_D(cell):
    return f'color: white;'

diverging_colors = sns.color_palette("RdYlGn", as_cmap=True)
df.style.bar(subset=['D'], cmap=diverging_colors, align='zero').applymap(style_column_D, subset=pd.IndexSlice[:, ['D']])

In [6]:
df.style.highlight_max(subset=['D'], props='background-color: green; color:white;')

In [7]:
df.style.highlight_min(subset=['D'], props='background-color: red; color:white;')

In [8]:
# You can highlight multiple things.

df.style\
    .highlight_max(subset=['D'], props='background-color: green; color:white;')\
    .highlight_min(subset=['D'], props='background-color: red; color:white;')

In [9]:
# Highlight a range of values
df.style.highlight_between(subset=['D'], left=0, right=3, props='background-color: green; color:white;')

## Formatting

```python
df.style.format({
    'A': '{:.2%}',        # Percentage format
    'B': '${0:,.2f}',     # Currency format
    'C': '{:.2e}',        # Scientific notation format
    'D': '{:,.0f}',       # Integer format with thousands separator
    'E': 'Number: {:.1f}',# Custom numeric format
    'F': '{:%Y-%m-%d}'    # Date format (assuming datetime objects in column 'F')
})
```

In [10]:
df.style.format({'A': '{:.2%}',     # Percentage
                 'B': '${0:,.2f}'}  # Currency
                )